.dock {
  width: 99%;
  height: 60px;
  border-radius: .375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dock .dock-container {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dock .dock-container .li-bin {
  margin-left: 20px;
  border-left: 1.5px solid rgba(255, 255, 255, 0.4);
  padding: 0px 10px;
}

.dock .dock-container .li-on::after {
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.95);
  content: "";
  bottom: 2px;
}

.dock .dock-container li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  vertical-align: bottom;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  margin-left: 12px;
  margin-right: 12px;
}

.dock .dock-container li:hover {
  margin: 0px 13px 0px 13px;
}

.dock .dock-container li .name {
  position: absolute;
  top: -70px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  height: 10px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  visibility: hidden;
}

.dock .dock-container li .name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.5);
}

.dock .dock-container li .ico {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.li-1:hover .name {
  visibility: visible !important;
}

.li-2:hover .name {
  visibility: visible !important;
}

.li-3:hover .name {
  visibility: visible !important;
}

.li-4:hover .name {
  visibility: visible !important;
}

.li-5:hover .name {
  visibility: visible !important;
}

.li-6:hover .name {
  visibility: visible !important;
}

.li-7:hover .name {
  visibility: visible !important;
}

.li-8:hover .name {
  visibility: visible !important;
}

.li-9:hover .name {
  visibility: visible !important;
}

.li-10:hover .name {
  visibility: visible !important;
}

.li-11:hover .name {
  visibility: visible !important;
}

.li-12:hover .name {
  visibility: visible !important;
}

.li-13:hover .name {
  visibility: visible !important;
}

.li-14:hover .name {
  visibility: visible !important;
}

.li-15:hover .name {
  visibility: visible !important;
}

.li-16:hover .name {
  visibility: visible !important;
}

.li-17:hover .name {
  visibility: visible !important;
}

.li-18:hover .name {
  visibility: visible !important;
}

.li-19:hover .name {
  visibility: visible !important;
}

.li-20:hover .name {
  visibility: visible !important;
}

.li-21:hover .name {
  visibility: visible !important;
}

.li-22:hover .name {
  visibility: visible !important;
}

.li-23:hover .name {
  visibility: visible !important;
}

.li-24:hover .name {
  visibility: visible !important;
}

.li-25:hover .name {
  visibility: visible !important;
}

.li-26:hover .name {
  visibility: visible !important;
}

.li-27:hover .name {
  visibility: visible !important;
}

.li-28:hover .name {
  visibility: visible !important;
}

.li-29:hover .name {
  visibility: visible !important;
}

.li-30:hover .name {
  visibility: visible !important;
}

.li-31:hover .name {
  visibility: visible !important;
}

.li-32:hover .name {
  visibility: visible !important;
}

.li-33:hover .name {
  visibility: visible !important;
}

.li-34:hover .name {
  visibility: visible !important;
}

.li-35:hover .name {
  visibility: visible !important;
}

.li-36:hover .name {
  visibility: visible !important;
}

.li-37:hover .name {
  visibility: visible !important;
}

.li-38:hover .name {
  visibility: visible !important;
}

.li-39:hover .name {
  visibility: visible !important;
}

.li-40:hover .name {
  visibility: visible !important;
}

.li-41:hover .name {
  visibility: visible !important;
}

.li-42:hover .name {
  visibility: visible !important;
}

.li-43:hover .name {
  visibility: visible !important;
}

.li-44:hover .name {
  visibility: visible !important;
}

.li-45:hover .name {
  visibility: visible !important;
}

.li-46:hover .name {
  visibility: visible !important;
}

.li-47:hover .name {
  visibility: visible !important;
}

.li-48:hover .name {
  visibility: visible !important;
}

.li-49:hover .name {
  visibility: visible !important;
}

.li-50:hover .name {
  visibility: visible !important;
}

.li-51:hover .name {
  visibility: visible !important;
}

.li-52:hover .name {
  visibility: visible !important;
}

.li-53:hover .name {
  visibility: visible !important;
}

.li-54:hover .name {
  visibility: visible !important;
}

.li-55:hover .name {
  visibility: visible !important;
}

.li-56:hover .name {
  visibility: visible !important;
}

.li-57:hover .name {
  visibility: visible !important;
}

.li-58:hover .name {
  visibility: visible !important;
}

.li-59:hover .name {
  visibility: visible !important;
}

.li-60:hover .name {
  visibility: visible !important;
}

.li-61:hover .name {
  visibility: visible !important;
}

.li-62:hover .name {
  visibility: visible !important;
}

.li-63:hover .name {
  visibility: visible !important;
}

.li-64:hover .name {
  visibility: visible !important;
}

.li-65:hover .name {
  visibility: visible !important;
}

.li-66:hover .name {
  visibility: visible !important;
}

.li-67:hover .name {
  visibility: visible !important;
}

.li-68:hover .name {
  visibility: visible !important;
}

.li-69:hover .name {
  visibility: visible !important;
}

.li-70:hover .name {
  visibility: visible !important;
}

.li-71:hover .name {
  visibility: visible !important;
}

.li-72:hover .name {
  visibility: visible !important;
}

.li-73:hover .name {
  visibility: visible !important;
}

.li-74:hover .name {
  visibility: visible !important;
}

.li-75:hover .name {
  visibility: visible !important;
}

.li-76:hover .name {
  visibility: visible !important;
}

.li-77:hover .name {
  visibility: visible !important;
}

.li-78:hover .name {
  visibility: visible !important;
}

.li-79:hover .name {
  visibility: visible !important;
}

.li-80:hover .name {
  visibility: visible !important;
}

.li-81:hover .name {
  visibility: visible !important;
}

.li-82:hover .name {
  visibility: visible !important;
}

.li-83:hover .name {
  visibility: visible !important;
}

.li-84:hover .name {
  visibility: visible !important;
}

.li-85:hover .name {
  visibility: visible !important;
}

.li-86:hover .name {
  visibility: visible !important;
}

.li-87:hover .name {
  visibility: visible !important;
}

.li-88:hover .name {
  visibility: visible !important;
}

.li-89:hover .name {
  visibility: visible !important;
}

.li-90:hover .name {
  visibility: visible !important;
}

.li-91:hover .name {
  visibility: visible !important;
}

.li-92:hover .name {
  visibility: visible !important;
}

.li-93:hover .name {
  visibility: visible !important;
}

.li-94:hover .name {
  visibility: visible !important;
}

.li-95:hover .name {
  visibility: visible !important;
}

.li-96:hover .name {
  visibility: visible !important;
}

.li-97:hover .name {
  visibility: visible !important;
}

.li-98:hover .name {
  visibility: visible !important;
}

.li-99:hover .name {
  visibility: visible !important;
}

.li-100:hover .name {
  visibility: visible !important;
}

.li-101:hover .name {
  visibility: visible !important;
}

.li-102:hover .name {
  visibility: visible !important;
}

.li-103:hover .name {
  visibility: visible !important;
}

.li-104:hover .name {
  visibility: visible !important;
}

.li-105:hover .name {
  visibility: visible !important;
}

.li-106:hover .name {
  visibility: visible !important;
}

.li-107:hover .name {
  visibility: visible !important;
}

.li-108:hover .name {
  visibility: visible !important;
}

.li-109:hover .name {
  visibility: visible !important;
}

.li-110:hover .name {
  visibility: visible !important;
}

.li-111:hover .name {
  visibility: visible !important;
}

.li-112:hover .name {
  visibility: visible !important;
}

.li-113:hover .name {
  visibility: visible !important;
}

.li-114:hover .name {
  visibility: visible !important;
}

.li-115:hover .name {
  visibility: visible !important;
}

.li-116:hover .name {
  visibility: visible !important;
}

.li-117:hover .name {
  visibility: visible !important;
}

.li-118:hover .name {
  visibility: visible !important;
}

.li-119:hover .name {
  visibility: visible !important;
}

.li-120:hover .name {
  visibility: visible !important;
}

.li-121:hover .name {
  visibility: visible !important;
}

.li-122:hover .name {
  visibility: visible !important;
}

.li-123:hover .name {
  visibility: visible !important;
}

.li-124:hover .name {
  visibility: visible !important;
}

.li-125:hover .name {
  visibility: visible !important;
}

.li-126:hover .name {
  visibility: visible !important;
}

.li-127:hover .name {
  visibility: visible !important;
}

.li-128:hover .name {
  visibility: visible !important;
}

.li-129:hover .name {
  visibility: visible !important;
}

.li-130:hover .name {
  visibility: visible !important;
}

.li-131:hover .name {
  visibility: visible !important;
}

.li-132:hover .name {
  visibility: visible !important;
}

.li-133:hover .name {
  visibility: visible !important;
}

.li-134:hover .name {
  visibility: visible !important;
}

.li-135:hover .name {
  visibility: visible !important;
}

.li-136:hover .name {
  visibility: visible !important;
}

.li-137:hover .name {
  visibility: visible !important;
}

.li-138:hover .name {
  visibility: visible !important;
}

.li-139:hover .name {
  visibility: visible !important;
}

.li-140:hover .name {
  visibility: visible !important;
}

.li-141:hover .name {
  visibility: visible !important;
}

.li-142:hover .name {
  visibility: visible !important;
}

.li-143:hover .name {
  visibility: visible !important;
}

.li-144:hover .name {
  visibility: visible !important;
}

.li-145:hover .name {
  visibility: visible !important;
}

.li-146:hover .name {
  visibility: visible !important;
}

.li-147:hover .name {
  visibility: visible !important;
}

.li-148:hover .name {
  visibility: visible !important;
}

.li-149:hover .name {
  visibility: visible !important;
}

.li-150:hover .name {
  visibility: visible !important;
}

.li-151:hover .name {
  visibility: visible !important;
}

.li-152:hover .name {
  visibility: visible !important;
}

.li-153:hover .name {
  visibility: visible !important;
}

.li-154:hover .name {
  visibility: visible !important;
}

.li-155:hover .name {
  visibility: visible !important;
}

.li-156:hover .name {
  visibility: visible !important;
}

.li-157:hover .name {
  visibility: visible !important;
}

.li-158:hover .name {
  visibility: visible !important;
}

.li-159:hover .name {
  visibility: visible !important;
}

.li-160:hover .name {
  visibility: visible !important;
}

.li-161:hover .name {
  visibility: visible !important;
}

.li-162:hover .name {
  visibility: visible !important;
}

.li-163:hover .name {
  visibility: visible !important;
}

.li-164:hover .name {
  visibility: visible !important;
}

.li-165:hover .name {
  visibility: visible !important;
}

.li-166:hover .name {
  visibility: visible !important;
}

.li-167:hover .name {
  visibility: visible !important;
}

.li-168:hover .name {
  visibility: visible !important;
}

.li-169:hover .name {
  visibility: visible !important;
}

.li-170:hover .name {
  visibility: visible !important;
}

.li-171:hover .name {
  visibility: visible !important;
}

.li-172:hover .name {
  visibility: visible !important;
}

.li-173:hover .name {
  visibility: visible !important;
}

.li-174:hover .name {
  visibility: visible !important;
}

.li-175:hover .name {
  visibility: visible !important;
}

.li-176:hover .name {
  visibility: visible !important;
}

.li-177:hover .name {
  visibility: visible !important;
}

.li-178:hover .name {
  visibility: visible !important;
}

.li-179:hover .name {
  visibility: visible !important;
}

.li-180:hover .name {
  visibility: visible !important;
}

.li-181:hover .name {
  visibility: visible !important;
}

.li-182:hover .name {
  visibility: visible !important;
}

.li-183:hover .name {
  visibility: visible !important;
}

.li-184:hover .name {
  visibility: visible !important;
}

.li-185:hover .name {
  visibility: visible !important;
}

.li-186:hover .name {
  visibility: visible !important;
}

.li-187:hover .name {
  visibility: visible !important;
}

.li-188:hover .name {
  visibility: visible !important;
}

.li-189:hover .name {
  visibility: visible !important;
}

.li-190:hover .name {
  visibility: visible !important;
}

.li-191:hover .name {
  visibility: visible !important;
}

.li-192:hover .name {
  visibility: visible !important;
}

.li-193:hover .name {
  visibility: visible !important;
}

.li-194:hover .name {
  visibility: visible !important;
}

.li-195:hover .name {
  visibility: visible !important;
}

.li-196:hover .name {
  visibility: visible !important;
}

.li-197:hover .name {
  visibility: visible !important;
}

.li-198:hover .name {
  visibility: visible !important;
}

.li-199:hover .name {
  visibility: visible !important;
}

.li-200:hover .name {
  visibility: visible !important;
}

/*# sourceMappingURL=style.css.map */