.dock {
  width: 99%;
  height: 60px;
  border-radius: .375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 4pt;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

 .dock .dock-container {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.dock .dock-container .li-on::after {
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.95);
  content: "";
  bottom: 2px;
}

.dock .dock-container li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 45pt;
  height: 45pt;
  vertical-align: bottom;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dock .dock-container li .name {
  position: absolute;
  top: -22px;
  height: 10px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  visibility: hidden;
}

.dock .dock-container li .ico {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.li:hover .name {
  visibility: visible !important;
  z-index: 99999;
}