* {
    font-family: 'Varela Round', sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: url("../resources/wallpaper.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

.dark {
    background-color: rgba(0, 0, 0, .7);
    color: white !important;
}

.light {
    background-color: rgba(255, 255, 255, .7);
    color: black !important;
}

.topbar {
    width: 99%;
    border-radius: .375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    position: absolute;
    top: 1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.window {
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 10px;
    resize: both;
    overflow: hidden;
    min-width: 480px;
    width: 450px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: default !important;
}

.window button{
    cursor: default !important;
}

.windowContent {
    overflow: auto;
}

i {
    font-size: 16pt;
    font-weight: bolder;
}

.gallery button {
    width: 110px;
    height: 120px;
    padding: 10px;
    text-align: center;
    border-color: transparent;
    background-color: transparent;
    cursor: default !important;
}

.gallery button img {
    height: 48px;
    width: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery button p {
    margin-top: 10px;
}

.gallery button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.gallery button:focus {
    background-color: rgba(0,0,0,.5);
}