* {
    font-family: 'Varela Round', sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: url("../resources/wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark {
    background-color: rgba(0, 0, 0, .8);
    color: white !important;
}

.light {
    background-color: rgba(255, 255, 255, .8);
    color: black !important;
}

.topbar {
    width: 99%;
    border-radius: .375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    position: absolute;
    top: 1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.window {
    position: absolute;
    top: 50px;
    padding: 10px;
    resize: both;
    overflow: hidden;
    min-width: 480px;
    width: 450px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: default !important;
}

.window button{
    cursor: default !important;
}

.windowContent {
    overflow: auto;
}

i {
    font-size: 16pt;
    font-weight: bolder;
}