* {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    padding: 0px;
    clear: both;
    font-size: 9pt;
}

html {
    overflow: hidden;
}

html, body {
    height: 100%;
    background-color: transparent !important;
}

.dark {
    color: white !important;
    /* text-shadow: 2px 1px 3px rgba(255, 255, 255, 1) !important; */
}

.light {
    color: black !important;
    /* text-shadow: 2px 1px 3px rgba(0, 0, 0, 1) !important; */
}

.dark button p {
    color: white !important;
}

.light button p {
    color: black !important;
}

.gallery button {
    width: 110px;
    height: 120px;
    padding: 10px;
    text-align: center;
    border-color: transparent;
    background-color: transparent;
    cursor: default !important;
}

.gallery button img {
    width: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery button p {
    margin-top: 10px;
}

.gallery button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.gallery button:focus {
    background-color: rgba(0,0,0,.5);
}

.scrollable {
    height: 100dvh;
}


/* Estilos generales para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}